
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminHeader.cshtml";
}

@using StockManagement.Models
@model List<Item>

<div>
    <link rel="stylesheet" href="~/css/customerMenu.css" type="text/css" />
    <link rel="stylesheet" href="~/css/Admin.css" type="text/css" />
    <div class="admin-container">
        <div class="admin-container-wrapper pt-5">
            <div class="row justify-content-end row mb-3">
                <a asp-action="ModifyUnProcessedOrder" asp-controller="Admin" class="btn btn-primary mr-2"> MODIFY UNPROCESSED ORDER </a>
                <a asp-action="AddItem" asp-controller="Admin" class="btn btn-primary"> ADD ITEM TO STOCK </a>
            </div>
            @foreach (Item item in ViewBag.Items)
            { 
                <div class="bg-white row pt-3 pb-3 pr-3 mt-3">
                    <div class="col-3">
                        <img src="/img/@item.item_image" class="admin-index-img" alt="alt-text" />
                    </div>
                    <div class="admin-item-name col-4">
                        <div>
                            <h5 class="grey-color"> @item.item_name </h5>
                        </div>
                        <div>
                            <p class="mb-2 green-color"><b>@item.price.ToString("c")</b></p>
                        </div>

                        <div>
                            <p class="mb-2"><b>Seller Name: </b>@item.seller_name</p>
                        </div>

                        <div>
                            <p class="mb-2"><b>Quantity: </b> @item.quantity</p>
                        </div>
                    </div>
                    <div class="col-5 text-right admin-button-div">
                        <a asp-action="ModifyItem" asp-controller="Admin" asp-route-id="@item.item_id" type="submit" class="btn btn-warning color-white"><i class="far fa-edit"></i> MODIFY ITEM</a>
                        <a asp-action="DeleteItem" asp-controller="Admin" asp-route-id="@item.item_id" type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> REMOVE ITEM</a>
                    </div>
                </div>
            }

            </div>
    </div>
</div>

